
nav{

	background-color: #eee; 
    color: green; 
    display: inline;
    padding: 12px; 
    text-decoration: none; 
    width: 200 px;
    float: left;
}


header{
    border: 2px solid red;
    border-radius: 5px;
    background-color: #eee;
}

footer {
    background-color: #eee;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

